<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/addTransaction.css">
</head>

<body>

    <h1 class="title">Edit Transaction</h1>

    <div class="addTransaction">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <form action="/editTransaction/<%= transactionData.id  %>" method="post" class="addingForm">

                        <div class="input-group input-group-sm mb-3">
                            <span class="d-block me-3">Title :-</span>
                            <input type="text" class="form-control" placeholder="Enter Title" name="title" value="<%= transactionData.title %>">
                        </div><br>

                        <div class="input-group input-group-sm mb-3">
                            <span class="d-block me-3">Description :-</span>
                            <input type="text" class="form-control" placeholder="Enter Description" name="description" value="<%= transactionData.description %>">
                        </div><br>

                        <div class="input-group input-group-sm mb-3">
                            <span class="d-block me-3">Amount :-</span>
                            <input type="number" class="form-control" placeholder="Enter Amount" name="amount" value="<%= transactionData.amount %>">
                        </div><br>

                        <div class="input-group input-group-sm mb-3">
                            <span class="d-block me-3">Category :-</span>
                            <select class="category" name="category">
                                <option value="Food" <%= transactionData.category === 'Food' ? 'selected' : '' %>>Food</option>
                                <option value="Rent" <%= transactionData.category === 'Rent' ? 'selected' : '' %>>Rent</option>
                                <option value="Salary" <%= transactionData.category === 'Salary' ? 'selected' : '' %>>Salary</option>
                            </select>
                        </div><br>

                        <div class="input-group input-group-sm mb-3">
                            <span class="d-block me-3">Date :-</span>
                            <input type="date" class="form-control" placeholder="Enter Date" name="date" value="<%= transactionData.date ? transactionData.date.toISOString('').split('T')[0] : '' %>">
                        </div><br>

                        <div class="submit-btn d-flex align-items-center justify-content-center">
                            <input type="submit" value="Submit" class="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>