<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="titlebar d-flex align-items-center justify-content-around">
        <h1 class="title mb-5">All Transactions</h1>
        <a href="/add" class="addTransaction-btn">Add Transaction</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="allTransaction">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  transactionData.map((item, index) => { %>
                            <tr class="text-center">
                                <td scope="row"><%= index + 1 %></td>
                                <td><%= item.title %></td>
                                <td>
                                    <% if(item.path){ %>
                                        <img src="<%= item.path %>" height="70" width="100" alt="Logo" />
                                    <% }else{ %>
                                        <img src="uploads/noImage.jpg" height="70" width="100" alt="No Image" />
                                    <% } %>
                                </td>
                                <td><%= item.description %></td>
                                <td>₹<%= item.amount %></td>
                                <td><%= item.category %></td>
                                <td><%= new Date(item.date).toLocaleDateString('en-IN') %></td>
                                <td>
                                    <a class="edit-btn bg-success" href="/edit/<%= item.id %>">Edit</a>
                                    <a class="delete-btn bg-danger" href="/delete/<%= item._id %>">Delete</a>
                                </td>
                            </tr>
                        <%  }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>